<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Events</h1>
    <%= link_to "New event", new_event_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

<%= form_with(url: search_events_path, method: :get, data: { controller: 'event-search', action: 'submit->event-search#search' }, class: "mb-4") do |form| %>  
<div class="flex space-x-3">
    <%= form.text_field :city, placeholder: 'City', class: "rounded-lg border-gray-300" %>
    <%= form.text_field :state, placeholder: 'State', class: "rounded-lg border-gray-300" %>

    <%= form.number_field :distance, placeholder: 'Distance (miles)', min: 0, class: "rounded-lg border-gray-300" %>
    
    <%= form.collection_select :genre_id, Genre.all, :id, :name, include_blank: true, class: "rounded-lg border-gray-300" %>

    <%= form.submit 'Search', class: "rounded-lg bg-blue-600 text-white px-4 py-2" %>
  </div>
<% end %>

<div id="events" class="min-w-full">
  <%= render partial: 'events/event_list', locals: { events: @events } %>
</div>
</div>
